<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 mt-3">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d721.1106780787362!2d7.282655929255403!3d43.7013479682479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cddab9c427fb49%3A0xa633666f338a20b0!2s2%20bis%20Rue%20Emmanuel%20Philibert%2C%2006300%20Nice!5e0!3m2!1sfr!2sfr!4v1649322042688!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			<div class="row text-white">
				<div class="col-12 col-lg-4 text-center">
					<img src="/assets/uploads/FanLogo1.png" alt="Logo Fan'Coiffure">
				</div>
				<div class="col-12 col-lg-4 fs-5 text-center">
					<h2 style="font-style: italic; font-weight: bold;">FAN'COIFFURE</h2>
					<p>
						<i class="fa-solid fa-location-dot"></i>
						2 bis Rue Emmanuel Philibert
						<br>
						06300 Nice</p>
					<p>
						<i class="fa-solid fa-phone"></i>
						04 92 04 46 54</p>
					<p>
						<i class="fa-solid fa-at"></i>
						fanny@fancoiffure.fr</p>
				</div>
				<div class="col-12 col-lg-4 text-center">
					<h2>Suivez nous sur nos réseaux sociaux</h2>
					<a href="https://www.facebook.com/1516423075276315" target="_blank"><img src="/assets/uploads/faceboook.svg" alt="icon facebook" height="50" width="50"></a>
					<a href="https://www.instagram.com/fancoiffurefanny" target="_blank"><img src="/assets/uploads/instagram.svg" alt="icon instagram" height="50" width="50"></a>
					<a href="https://www.youtube.com/user/fannydigregorio" target="_blank"><img src="/assets/uploads/youtube.svg" alt="icon youtube" height="50" width="50"></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="text-center text-white">
					<p>FAN'COIFFURE © 2022 -
						<span>
							<a href="{{path('mentionslegales')}}">Mentions Légales</a>
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
