header,
.display-accueil,
.display-photos,
.display-tarifs,
.display-produits,
footer {
    font-family: "Times New Roman", Times, serif;
    text-shadow: 3px 3px 3px black;
}

#header-text {
    font-family: "Times New Roman", Times, serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 5rem;
    text-align: right;
    font-weight: bold;
    font-style: italic;
}

#header-text a {
    color: white;
    text-decoration: unset;
}

#fancoiffure-header {
    background-image: url("/public/assets/uploads/hairlg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#hr-1 {
    color: rgb(60, 100, 255);
    opacity: 1;
    height: 10px;
    margin: 0;
}

ul {
    list-style-type: none;
}

.nav-user {
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.nav-item {
    text-transform: uppercase;
}

.carouselSize {
    height: 600px;
}

.message_avertissement_javascript
{
    font-family: Arial, Helvetica, sans-serif!important;
    text-shadow: none!important;
}

.cadre {
    background-image: url("/public/assets/uploads/cadre.jpg");
    background-size: 100% 100%;
}

.cadre1 {
    background-image: url("/public/assets/uploads/cadre1.jpg");
    background-size: 100% 100%;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

#content img {
    max-width: 200px;
}

section {
    background-image: url("/public/assets/uploads/hairlg.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

.menu-size {
    font-size: 1.8rem;
}

.ico-size {
    background-color: white;
    font-size: 3.1rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: wheat;
}

.icon {
    fill: rgb(255, 255, 255);
}

.page {
    width: 31.5px;
    height: 31.5px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    z-index: 2;
    transition: all 0.3s ease 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.top1 {
    position: fixed;
    z-index: 999999;
    display: inline-flex;
    transition: opacity 0.3s ease 0s;
    opacity: 1;
    inset: auto 0px 0px auto;
}

.top2 {
    padding: 18.6667px 4.66667px 4.66667px 18.6667px;
    position: relative;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 100px 0px 0px;
    top: 0px;
    backface-visibility: hidden;
    background-color: rgb(33, 37, 41);
    color: rgb(255, 255, 255);
    margin-right: 0px;
    margin-bottom: 0px;
}

.top2:hover {
    background-color: rgb(28, 31, 35);
}

.text-container {
    width: 100%;
    height: 150px;
    padding: 32px;
    visibility: hidden;
    transform: translateY(300px);
    opacity: 0;
    transition: all 0.8s ease;
    background: linear-gradient(45deg, rgb(30, 30, 30) 0%, transparent 72%);
    color: white;
    overflow: hidden;
}

.text {
    position: absolute;
    bottom: 80px;
}

.text-contact,
.invalid-feedback {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.invalid-feedback {
    background: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.active .text-container {
    visibility: visible;
    transform: translateY(100px);
    opacity: 1;
}

.btn {
    transition: 0.4s;
}

.btn:hover {
    transform: scale(1.1);
    border: 1px solid white;
}

footer {
    background-image: url("/public/assets/uploads/hairlg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media screen and (max-width: 1240px) {
    .nav-rwd {
        font-size: 1.3rem;
    }
}


@media screen and (max-width: 767px) {
    #content {
        grid-template-columns: 1fr;
    }
    #header-text {
        text-align: left;
        margin-bottom: 0;
        font-size: 2.5rem;
    }
    .carouselSize {
        height: 350px;
    }
}

@media screen and (min-width: 450px) {
    .cadre {
        font-size: 1.3rem;
    }
}